#commentform input.error, #commentform textarea.error { border: 1px solid #f99;
}
#commentform div.error, #commentform label.error {
	color: red;
}
#commentform div.errorlabels label {
	display: block;
}